html{
    background-color: rgb(248, 242, 243)
}

h1{
    color: rgb(10, 10, 153);
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 2rem;
    padding: 3rem 45rem ;
}

h2{
    color: rgb(22, 132, 22);
    
}

h3{
    color: rgb(89, 168, 168);
    font-family:'Times New Roman', Times, serif;
}
.special-h3{
color: red;
}
#special-h3{
color:rgb(226, 43, 134);
}
main{
    color: blueviolet;
}

ol{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
*{
border: solid 1px plum;
}

button {
    background-color: beige;
}

button:hover{
    background-color:aqua;
}
